@import url("../reset.css");

* {
  box-sizing: border-box;
}

body {
  background: black;
  font-family: Oxygen;
  color: white;
  font-size: 14px;
}

h2 {
  color: #0393ff;
  margin: 60px 10px 10px;
  font-size: 32px;
  font-weight: 300;
}

p {
  font-size: 16px;
  margin: 0 10px 45px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.special-link {
  color: #0393ff;
  border: 1px solid #0393ff;
  padding: 8px 20px;
  border-radius: 2px;
  display: inline-block;
}

.special-link:hover {
  background: #0393ff;
  color: white;
}

/*
 CSS for the header section
*/

header {
  padding: 48px 30px 0;
}

header .logo {
  float: left;
}

header .logo img {
  width: 180px;
  height: 34px;
}

header nav {
  float: right;
}

header nav a {
  display: inline-block;
}

header nav a:first-child {
  margin: 0 30px 0 0;
}

/*
 CSS for the article section with the class first
*/

.first {
  text-align: center;
  margin: 0 0 160px;
}

.first h1 {
  font-size: 40px;
  margin: 80px 10px 40px;
  font-weight: 300;
}

.first form {
  margin: 80px 0 0;
}

#search {
  font-weight: 300;
  display: block;
  text-align: center;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  color: white;
  min-width: 220px;
  font-size: 18px;
  margin: 15px auto;
  width: 50%;
  height: 34px;
  padding: 6px 12px;
}

#search:hover {
  border-bottom-color: #0393ff;
}

#search:focus {
  outline: 0;
}

/*
 CSS for the article section with the class second
*/

.second {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bolt-network/diagmonds_@2X.png");
  background-size: 141px 142px;
  padding: 20px 0 80px;
}

.second-container {
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
}

.second li {
  display: inline-block;
  padding: 0 15px;
  box-sizing: border-box;
  float: left;
}

.second li img {
  width: 100%;
}

.row {
  margin: 0 0 20px;
}

.two-third {
  width: 66.66666667%;
}

.one-third {
  width: 33.33333333%;
}

/*
 CSS for the article section with the class third
*/

.third {
  background: url("https://s3.amazonaws.com/codecademy-content/projects/bolt-network/feature.jpg") no-repeat center center;
  background-size: cover;
  height: 380px;
  padding: 100px 0 0;
}

/*
 CSS for the footer class
*/

footer {
  padding: 60px 0;
}

.link-container {
  width: 33%;
  float: left;
  text-align: center;;
}

.link-container h3 {
  font-size: 18px;
  font-weight: 300;
  margin: 20px 0 10px;
}

.link-container li {
  color: #0393ff;
  line-height: 20px;
  cursor: pointer;
}

/*
 CSS for the clearfix
*/

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

/*
  CSS for media queries
*/

@media (max-width: 920px) {
  .second li {
    display: block;
    padding: 0 15px;
    box-sizing: border-box;
    float: none;
    margin: 0 auto 20px;
  }

  .row {
    margin: 0;
  }

  .two-third {
    width: 100%;
  }

  .one-third {
    width: 80%;
  }
}

@media (max-width: 660px) {
  .container {
    text-align: center;
  }

  header .logo,
  header nav {
    float: none;
  }

  header nav {
    margin: 15px 0;
  }

  .first h1 {
    font-size: 30px;
  }

  .link-container {
    width: 100%;
    float: none;
    text-align: center;;
  }
}
