@import url("../reset.css");

* {
  box-sizing: border-box;
}

body {
  font: normal 20px Helvetica, Arial, sans-serif;
  color: #333;
}

div {
  margin: 0 20px;
}

/*
 CSS for the header section
*/

header {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/intro.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  padding: 40px 10px;
}

header h1,
header p {
  margin-bottom: 30px;
  color: black;
}

header h1 {
  font-size: 38px;
}

header p {
  font-size: 26px;
  color: white;
}

header a {
  display: inline-block;
  color: white;
  font-size: 18px;
  background: rgba(238,68,95,0.9);
  padding: 8px 28px;
  border-radius: 4px;
}

header a:hover {
  color: black;
  box-shadow: 0px 1px 6px rgba(0,0,0,0.6);
}

/*
 CSS for the main section
*/

main {
  border-bottom: 1px solid #dbdbdb;
}

main article {
  padding: 36px 0;
  border-bottom: 1px solid #dbdbdb;
  overflow: hidden;
  text-align: center;
}

.image {
  width: 20%;
}

.content {
  width: 76%;
  margin: 0 2%;
}

.image img {
  width: 100%;
}

.content h1 {
  margin: 25px 0;
  font-size: 64px;
}

.content p {
  font-size: 26px;
}

/*
 CSS for the Article with the class .share in the main
*/

.share .image {
  float: left;
}

.share .content {
  float: right;
}

/*
 CSS for the Article with the class .explore in the main
*/

.explore .image {
  float: right;
}

.explore .content {
  float: left;
}

/*
 CSS for the Article with the class .save in the main
*/

.save .image {
  float: left;
}

.save .content {
  float: right;
}

/*
 CSS for the Section with the class .main-footer in the main
*/

.main-footer {
  text-align: center;
  padding: 80px 0;
}

.main-footer h2 {
  font-size: 32.2px;
  margin: 0 0 28px 0;
}

.main-footer img {
  margin: 0 3px;
}

.apple-img {
  width: 185px;
}

.google-img {
  width: 159px;
}

/*
 CSS for the footer section
*/

footer {
  background: #f3f3f3;
  padding: 40px 0;
}

footer section {
  display: inline-block;
  color: #555;
  vertical-align: top;
  width: 32%;
  text-align: left;
}

footer section h2 {
  font-size: 16.8px;
  margin-bottom: 10px;
}

footer section li {
  margin: 4px 0;
  font-size: 14px;
  font-weight: 600;
  color: #999;
  cursor: pointer;
}

@media (max-width: 700px) {
  .image {
    width: 100px;
    margin: 0 auto;
  }

  .content {
    width: 96%;
    margin: 0 2%;
  }

  .content h1 {
    font-size: 40px;
  }

  .share .image,
  .share .content,
  .explore .image,
  .explore .content,
  .save .image,
  .save .content {
    float: none;
  }

  footer section {
    display: block;
    width: 100%;
    margin: 0 0 25px 0;
  }
}
