@import url("../reset.css");

body {
  font: normal 20px Arial, sans-serif;
}

a {
  text-decoration: none;
}

header {
  background: #333;
}

header nav {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}

header nav ul li {
  display: inline-block;
  font-size: 18px;
  color: white;
  padding: 0 5px;
  cursor: pointer;
}

header nav ul li:hover {
  color: red;
}

main {
  background: white;
}

main header {
  height: 800px;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/broadway/bg.png) no-repeat center center;
  background-size: cover;
}

main header section {
  text-align: center;
  padding: 200px 0 0 0;
}

main header section h1 {
  font-size: 70px;
  color: #333;
  margin: 0 0 50px 0;
}

main header section a {
  color: white;
  padding: 15px 35px;
  background: #333;
  font-size: 18px;
}

main header section a:hover {
  color: red;
}

main article {
  padding: 40px 0;
}

main article ul {
  text-align: center;
  margin: 0 15px;
}

main article ul li {
  width: 30%;
  display: inline-block;
  margin: 0 1% 0 0;
}

main article ul li h2 {
  font-size: 24px;
  margin: 0 0 20px 0;
}

main article ul li p {
  font-size: 14px;
  margin: 0 0 40px 0;
}

main article ul li img {
  width: 40px;
  height: 40px;
  margin: 0 0 20px 0;
}

main article ul li a {
  display: inline-block;
  font-size: 12px;
  padding: 10px 40px;
  border: 1px solid black;
  color: #333;
}

main article ul li a:hover {
  background: #cfd2d6;
}

footer {
  background: #333;
}

footer section {
  width: 70%;
  margin: 0 auto;
  padding: 40px 0;
}

footer section p {
  color: white;
  font-size: 10px;
}

footer section p:before {
  content: "\00A9";
  padding: 0 5px 0 0;
}

@media (max-width: 664px) {
  main article ul li {
    display: block;
    width: 100%;
    margin: 0 0 25px 0;
  }
}

@media (max-width: 600px) {
  header nav ul li {
    text-align: center;
    display: block;
    margin: 0 0 8px 0;
  }

  main header section h1 {
    font-size: 40px;
  }
}
